body {
  overflow-x: hidden;
}

.carousel {
  padding: 5px 10px;
  text-align: center;
  // max-width: 100%
  // margin-bottom: 600px;
  position: relative;
  height: 450px;
  padding-top: 0%;
  // max-width: 1100px;
  // margin: 0 auto 600px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    .small-container {
      display: flex;
      align-items: center;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      text-align: left;
      margin: 0 auto 0 0;
      font-size: clamp(12px, 6vw, 35px);
    }
    p {
      white-space: nowrap;
      float: right;
      margin: auto 0;
      display: flex;
      align-items: center;

      span {
        font-size: 40px;
        margin: 0 5px;
        cursor: pointer;
        color: #555;
        width: 30px;
        height: 30px;
        display: inline-block;
        justify-content: center;
        line-height: 19px;
        text-align: center;
        white-space: nowrap;
        border-radius: 50%;
        // width: 50px;
        transition: color 0.5s, all 0.5s;
        &:hover {
          box-shadow: 0px 0px 4px white;
          color: white;
        }
        * {
          margin-top: 3px;
        }
      }
    }
  }
  section {
    height: 340px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    // left: -49px;
    overflow-x: scroll;
    position: absolute;
    // padding-left: 10px;
    // background: linear-gradient(
    //   to right bottom,
    //   blue 30%,
    //   yellow 50%,
    //   red 20%
    // );

    &::-webkit-scrollbar {
      // display: none;
      // background-color: blue;
      height: 5px;
      // max-width: 10%;
      // transform: translateX(10px);
      // padding: 0 20px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      // width: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(129, 129, 189);
      border-radius: 10px;
      box-shadow: inset 2px 2px 2px
          hsl(0deg 0% 100% / 25%),
        inset -2px -2px 2px
          rgb(0 0 0 / 25%);
    }
    &::-webkit-scrollbar-track-piece:end {
      border-radius: 10px;
      background: rgb(145, 223, 169);
      margin-right: 10px;
    }

    &::-webkit-scrollbar-track-piece:start {
      border-radius: 10px;
      background: rgb(145, 223, 169);
      margin-left: 10px;
    }

    // perspective: 500px;
    // perspective-origin: 50%h
    // calc(50% - 2em);
    .card {
      &:not(.intro) {
        cursor: pointer;
      }
      // position: relative;

      // width: inherit;
      // height: fit-content;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-around;

      background-size: 100px;
      .content {
        display: flex;
        align-items: center;
      }
      &.intro {
        // width: 253px;
        // padding: 4px;
        .coverPhoto {
          border-radius: 50%;
          overflow: hidden;
          width: 50%;
          margin: 0 auto;
        }
        .slide {
          justify-content: center;
        }
      }
      .imgContainer {
        border-radius: 50%;
        overflow: hidden;
        $w: 150px;
        width: $w;
        height: $w;
        margin: 0 20px;
      }
      .slide {
        // position: absolute;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 600px;
        &.intro {
          width: 253px;
        }
        height: 300px;
        border-radius: 10px;
        margin: 10px;
        background: #3c5132;
        // box-shadow: 0 0 5px #000 inset;
        box-shadow: 1px 1px 2px #c193c1,
          -1px 1px 2px #ad37ad,
          0px -1px 2px #5fcf19;
        padding: 12px 0;
        &.two {
          overflow: hidden;
          position: absolute;
          bottom: 0;
          height: 0;
          padding: 0;
          transition: all 0.5s;
          overflow-y: scroll;
          .mask {
            // position: absolute;
            // top: 0;
          }
          // height: 0;
          // bottom: 0;
        }
      }
      button {
        cursor: pointer;
      }
      &.active {
        translate: 0 -50px;
      }
    }
  }
  .spacer {
    color: transparent;
  }
}
