body {
  overflow-x: hidden;
}

.carousel {
  padding: 5px 10px;
  text-align: center;
  // max-width: 100%
  // margin-bottom: 600px;
  position: relative;
  height: 450px;
  padding-top: 0%;
  // max-width: 1100px;
  // margin: 0 auto 600px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    .small-container {
      display: flex;
      align-items: center;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      text-align: left;
      margin: 0 auto 0 0;
      font-size: clamp(12px, 6vw, 35px);
    }
    p {
      white-space: nowrap;
      float: right;
      margin: auto 0;

      span {
        font-size: 40px;
        margin: 0 5px;
        cursor: pointer;
        color: #555;
        width: 30px;
        height: 30px;
        display: inline-block;
        justify-content: center;
        line-height: 19px;
        text-align: center;
        white-space: nowrap;
        border-radius: 3px;
        // width: 50px;
        transition: color 0.5s,
          background 0.5s;
        &:hover {
          background: #222;
          color: white;
        }
        * {
          margin-top: 3px;
        }
      }
    }
  }
  section {
    height: 430px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    // left: -49px;
    overflow-x: scroll;
    position: absolute;
    // padding-left: 10px;

    &::-webkit-scrollbar {
      // display: none;
      // background-color: blue;
      height: 5px;
      // max-width: 10%;
      // transform: translateX(10px);
      // padding: 0 20px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      // width: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(129, 129, 189);
      border-radius: 10px;
      box-shadow: inset 2px 2px 2px
          hsl(0deg 0% 100% / 25%),
        inset -2px -2px 2px
          rgb(0 0 0 / 25%);
    }
    &::-webkit-scrollbar-track-piece:end {
      border-radius: 10px;
      background: rgb(145, 223, 169);
      margin-right: 10px;
    }

    &::-webkit-scrollbar-track-piece:start {
      border-radius: 10px;
      background: rgb(145, 223, 169);
      margin-left: 10px;
    }

    .projectCard {
      padding: 0px;
      min-width: 300px;
      max-width: 300px;
      height: 100%;
      background: cornsilk;
      // margin: 0 10px 0 10px;
      border-radius: 20px;
      position: relative;
      // position: absolute;
      left: 0;
      transition: 0.5s;
      overflow: hidden;

      &.active-visit {
        background: #ececec;
        color: rgb(0, 0, 0);

        .projectCard {
          transform: scale(1.01);
          box-shadow: 2px 4px 5px 2px
            rgb(0 0 0 / 25%);
          background: #b4e57d;
        }
        a {
          // color: lightblue;
          &.detailLink {
            opacity: 0.1;
            // color: lightblue;
          }
        }
      }
      &.active-card {
        background: #5490fe;
        color: rgb(0, 0, 0);
        transform: scale(1.01);
        box-shadow: 2px 4px 5px 2px
          rgb(0 0 0 / 25%);
        a {
          &.visitLink {
            opacity: 0.1;
            // color: lightblue;
          }
        }
      }

      picture {
        width: 100%;
        height: 70%;
        // padding: 20px;
        place-content: center;
        display: flex;
        overflow: hidden;
        margin-bottom: 7px;
        img {
          // width: 100%;
          width: -webkit-fill-available;
          height: fit-content;
          &.styles {
            // width: 100%;
            // height: 120%;
            &.trans-top {
              transform: translateY(
                -40px
              );
            }
            // &.trans {
            //   transform: translateY(0px);
            // }
          }
        }
      }
      // on the front card
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 74px;
        .card-title {
          // line-height: 17px;
          font-weight: bold;
          font-size: 17px;
          line-height: 16px;
          margin: -1px 0 3px;
        }
        .card-content {
          font-size: 14px;
          margin: auto;
          width: 180px;
          line-height: 16px;
        }
      }
      a:not(.disinherit) {
        position: absolute;
        transition: opacity 0.5s;
        &.visitLink {
          left: 0%;
          bottom: 0;
          padding: 5px;
          transition: background 0.5s;
          width: 100%;
          &:hover {
            background: rgb(
              240,
              170,
              78
            );
            color: black;
          }
        }
        &.detailLink {
          right: 5%;
          top: 5px;
          color: rgba(44, 6, 6, 0.39);
          transition: color 0.5s,
            opacity 0.5s;
          // transition: opacity 0.5s;
          // .touch {
          //   color: blue;
          //   animation: flash 0.5s;
          //   @keyframes flash {
          //     0% {
          //       color: rgb(73, 238, 73);
          //     }
          //     100% {
          //       color: rgba(44, 6, 6, 0.39);
          //     }
          //   }
          // }
          &:hover {
            color: rgb(73, 238, 73);
          }
        }
      }
      // on the card card
      // #Watercolor\ Collection > svg
      // #Watercolor\ Collection > svg
      &.card {
        // left: -240px;
        // position: absolute;
        margin: 0 10px 0 10px;
        display: flex;
        align-items: flex-start;
        svg.close {
          position: absolute;
          top: 10px;
          right: 20px;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.5s;
          &.active {
            z-index: 1;
            opacity: 1;
          }
          &:hover {
            cursor: pointer;
          }
        }
        // svg.close {
        //   top: 10px;
        // }
        svg.earth {
          z-index: -1;
          position: absolute;
          top: 7px;
          left: 46%;
          opacity: 0;
          transition: opacity 0.5s;
          &.active {
            z-index: 1;
            opacity: 1;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .details {
          text-align: center;
          flex-grow: 2;
          color: transparent;
          transition: color 0.5s;
          width: 278px;
          overflow-y: scroll;
          height: 100%;
          padding: 29px 0;

          // direction: ltr;
          &::-webkit-scrollbar {
            display: none;
            // width: 3px;
            // padding-top: 5px;

            // direction: rtl;
            // height: 50%;
            // position: ;
          }
          // &::-webkit-scrollbar-track {
          //   background: transparent;
          //   // width: 50px;
          //   max-height: 5px;
          // }
          &::-webkit-scrollbar-thumb {
            background: rgb(
              129,
              129,
              189
            );
            border-radius: 10px;
            box-shadow: inset 2px 2px
                2px
                hsl(0deg 0% 100% / 25%),
              inset -2px -2px 2px
                rgb(0 0 0 / 25%);
          }
          // &::-webkit-scrollbar-track-piece:end {
          //   border-radius: 10px;
          //   background: transparent;
          //   margin-right: 10px;
          // }

          // &::-webkit-scrollbar-track-piece:start {
          //   border-radius: 10px;
          //   background: rgb(145, 223, 169);
          //   margin-left: 10px;
          // }
          h4 {
            font-size: 25px;
            margin-bottom: 0;
            &.sub {
              margin-top: 0;
            }
          }
          p {
            white-space: pre-wrap;
            margin: 15px auto;
            width: 239px;
            &:not(.author) {
              line-height: 18px;
              text-align: start;
              // text-indent: 27px;
            }
            &.pre {
              transform: translate(
                26px,
                14px
              );
            }
            a {
              white-space: nowrap;
              position: initial;
            }
          }
          ul {
            list-style-type: none;
            padding: 0;
            position: relative;
            bottom: -20px;
            transition: border 0.2s;
            border: 1px solid black;
            width: 200px;
            margin: auto;
            margin-bottom: 50px;
            padding: 15px 0;
            // left: 61%;
            li {
              &.title {
                text-decoration: underline;
                padding-bottom: 10px;
              }
              &.breif {
                width: 150px;
                white-space: pre-wrap;
                margin: auto;
                margin-bottom: 20px;
                font-size: 12px;
              }
            }
          }
          fieldset {
            .title {
              font-size: 15px;
            }
            text-align: left;
            // word-wrap: break-word;
            // display: flex;
            // flex-wrap: wrap;
            white-space: normal;
            margin: 100px 15px;
          }
        }
        overflow: visible;
        height: 375.85px;
        &.active {
          min-width: 500px;
          .details {
            color: black;
          }
        }
      }
    }
  }
  .spacer {
    color: transparent;
  }
}

.card:not(.active-visit) {
  ul {
    transition: border 0.2s;
    border: 1px solid transparent !important;
  }
}
