body {
  overflow-x: hidden;
}

.carousel {
  padding: 5px 10px;
  text-align: center;
  position: relative;
  height: 450px;
  padding-top: 0%;
}
.carousel header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.carousel header .small-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.carousel header h2 {
  text-align: left;
  margin: 0 auto 0 0;
  font-size: clamp(12px, 6vw, 35px);
}
.carousel header p {
  white-space: nowrap;
  float: right;
  margin: auto 0;
  display: flex;
  align-items: center;
}
.carousel header p span {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #555;
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  border-radius: 50%;
  transition: color 0.5s, all 0.5s;
}
.carousel header p span:hover {
  box-shadow: 0px 0px 4px white;
  color: white;
}
.carousel header p span * {
  margin-top: 3px;
}
.carousel section {
  height: 340px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  position: absolute;
}
.carousel section::-webkit-scrollbar {
  height: 5px;
}
.carousel section::-webkit-scrollbar-track {
  background: transparent;
}
.carousel section::-webkit-scrollbar-thumb {
  background: #8181bd;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.carousel section::-webkit-scrollbar-track-piece:end {
  border-radius: 10px;
  background: #91dfa9;
  margin-right: 10px;
}
.carousel section::-webkit-scrollbar-track-piece:start {
  border-radius: 10px;
  background: #91dfa9;
  margin-left: 10px;
}
.carousel section .card {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  background: #3c513268;
  box-shadow: 1px 1px 2px #c193c1, -1px 1px 2px #ad37ad, 0px -1px 2px #5fcf19;
  position: relative;
  padding: 12px 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: 0px 0px, calc(100% + 0px) calc(100% + 0px);
  background-size: 100px;
}
.carousel section .card:not(.intro) {
  cursor: pointer;
}
.carousel section .card .content {
  display: flex;
  align-items: center;
}
.carousel section .card.intro {
  width: 253px;
  padding: 4px;
}
.carousel section .card.intro .coverPhoto {
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}
.carousel section .card.intro .slide {
  justify-content: center;
}
.carousel section .card .imgContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 20px;
}
.carousel section .card .slide {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.carousel section .card .slide.two {
  height: 0;
  bottom: 0;
}
.carousel section .card button {
  cursor: pointer;
}
.carousel section .card.active {
  translate: 0 -50px;
}
.carousel .spacer {
  color: transparent;
}

/*# sourceMappingURL=index.css.map */
