@import "./variables/_variables";
@import "./variables/_color-variables";

.flex {
  display: flex;
  justify-content: end;

  .resumeButton {
    border-radius: 5px;
    padding: 7px 10px;
    margin: 6px;
    transition: all 0.5s;
  }
  // z-index: -1;
  &.C {
    flex-direction: column;

    &.innerWrapper {
      flex-grow: 2;
      justify-content: space-evenly;
      @media #{$small-and-down} {
        display: none !important;
      }
      nav,
      & > div,
      & > nav.exploreNav {
        flex-grow: 1;
        // justify-content: center;
      }
      .exploreNav {
        justify-content: end;
      }
    }
    .logoContainer {
      width: fit-content;
      margin: 0 auto;
      display: block;
      z-index: 50;
      // a {
      //   transform: translateX(
      //     -25%
      //   ) !important;
      // }
    }

    .quote {
      display: flex;
      align-items: center;
      padding: 10px 10px;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      @media #{$small-and-down} {
        position: initial;
        transform: translateX(0);
      }
    }
  }

  &.R {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    &.outerWrapper {
      position: relative;
      // height: 67px;
      // .logoContainer {
      //   width: fit-content;
      //   height: fit-content;
      // }
    }
    @media #{$small-and-down} {
      flex-direction: column;
    }
    .brand {
      min-width: $left-col-width;
      text-align: center;
      // min-height: 100%;
      // padding: auto 0;
      // height: 100%;
      display: flex;
      @media #{$small-and-down} {
        // position: absolute;
        // top: 0;
      }
      flex-direction: column;
      justify-content: center;
      min-height: 100px;
      &.top {
        transform: translateY(21px);
        @media #{$small-and-down} {
          transform: translateY(0px);
        }
        z-index: 7;
      }
      color: $brand-color;
      background: $brand-bg;
      @media #{$small-and-down} {
        width: 100%;
      }
      h1,
      p {
        margin: 0;
      }
    }
    &.subInnerWrapper {
      justify-content: flex-start;
      // align-content: center;
      i {
        transform: rotate(-31deg)
          translateY(5px);
        &.triangle {
          transform: rotate(0deg)
            translateY(5px);
        }
      }
      @media #{$small-and-down} {
        // display: none;
      }
    }
  }
}
//

.main-header {
  width: 100%;
  .brand {
    // margin-left: 10px;
    h1 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }

  .quote {
    background: $quote-bg;
    color: $quote-color;
    @media #{$small-and-down} {
      line-height: 30px;
    }
    p {
      margin: auto 0;
    }
  }

  .exploreNav {
    background: $explore-bg;
    & > * {
      padding: 0 15px;
      align-self: center;
    }
    .moreDetails {
      white-space: nowrap;
      a {
        display: block;
      }
      align-content: center;
      p {
        display: inline-block;
        margin: auto;
      }
    }
  }
}

.contentNav {
  // overflow-x: scroll;
  position: -webkit-sticky;
  position: sticky;
  @media #{$small-and-down} {
    position: fixed;
  }
  z-index: 8;
  top: -1px;
  display: flex;
  width: 100%;
  // user-select: ;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  background: $contentNav-bg;
  height: 50px; // clamp(50px, 215px); ///50px;
  display: flex !important;
  align-items: center !important;

  @media #{$small-and-down} {
    text-align: center;
  }
  // &.center {
  //   justify-content: center;
  // }
  // &.flexEnd {
  //   justify-content: space-between;
  // }
  // &.right {
  //   justify-content: flex-end;
  // }

  // i {
  //   transform: translateY(3px);
  // }
  a.logoSmall {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  ul {
    margin-left: auto;
    display: inline-flex;

    transition: transform 1s;
    justify-content: flex-end;

    // color: black;
    @media #{$small-and-down} {
      margin-top: 20px;
      width: 100%;
      &.navItems {
        display: none;
        &.show {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: flex-end;
          height: 100%;
          li {
            a {
              padding-inline-start: 11px;
              padding-inline-end: 11px;
            }
            // background: gray;
            padding: 10px 0px 10px 100%;
            display: block;
            cursor: pointer;
            transition: all 0.5s;
            &.quote {
              align-self: center;
            }
            &:hover {
              background-color: yellow;
            }
          }
        }
      }
    }
    @media #{$small-and-down} {
      // apple
    }
    li {
      display: inline-block;
      padding: 0 13px;
      &.active {
        a {
          // color: $link-active;
          // transition: color 0.2s;
          // &:visited {
          //   color: rgb(165, 202, 165);
          // }
        }
      }
    }
  }
}
.NL {
  // position: relative;
  // left: -5%;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;

  @media #{$medium-and-up} {
    left: 50px;
  }
  margin: 0;
  h1,
  p {
    margin: 0 5px;
  }
  @media #{$small-and-down} {
    // top: 12px;
    // transform: scale(0.5);
    // left: none;
    p {
      font-size: 20px;
    }
  }
  &.navLogo {
    opacity: 0;
    animation: inOut 0.5s forwards;
    transform: translate(0px, -3px);
    @media #{$small-and-down} {
      transform: translate(5px, -3px);
    }
    position: relative;
    white-space: nowrap;
    @keyframes inOut {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &.navLogoOff {
    opacity: 0;
    animation: Out 0.5s forwards;
    @keyframes Out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

@media #{$medium-and-up} {
  .NL.navLogoOff {
    opacity: 0;
  }
}

.closeBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 7;
}

.hamburger {
  position: absolute;
  right: 45px;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  // top: 35px;
  display: none;
  // position: sticky;
  // top: 0px;
  @media #{$small-and-down} {
    display: inline;
    position: absolute;
    transition: all 0.5s;
    &.sticky {
      top: 0px;
      opacity: 0;
    }
    top: 23px;
    &.scrolledDown {
      position: fixed;
      top: 0px;
    }
  }
}
